body {
    font-family: Roboto, sans-serif;
    color: #fff;
    background-color: black;
}

.navbar {
    background-color: black;
    border-bottom: solid #44d62c;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #44d62c;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-produtos .nav-link.active:hover {
    color: #44d62c;
}

.navbar-toggler {
    background-color: #44d62c;
}

.section-title {
    font-family: 'Titillium Web', sans-serif;
}

#sobre-a-razer {
    background-color: #222;
    border-bottom: solid #44d62c;
}

#produtos {
    background-color: #222;
    border-top: solid #44d62c;
    border-bottom: solid #44d62c;
}

.text-colored {
    color: #44d62c;
}

.nav-produtos .nav-link.active
{
    background-color: #fff;
    color: #44d62c;
}

#fale-conosco button{
    background-color: #44d62c;
    color: #fff;
}

#fale-conosco button:hover{
    background-color: #44d62c;
    color: #fff;
    border: solid #44d62c;
}

.nav-produtos .nav-link:hover {
    color: #fff;
}

.social-links li {
    list-style: none;
    display: inline;
    margin: 5%;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}